button.nav-link{
    background: #e9ecef;
    border-radius: 0;
    border: none;
    text-transform: uppercase;

    &:focus{
        outline: none;
    }

    &:active.hover{
        color: white;
    }

    &.active{
        outline: none;
    }

    &.active:focus{
        outline: none;
    }

    &:disabled:not(.active){
        background: #e9ecef;
        color: #6c757d;
    }
}